<h1>Edit Petition</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.petition_path(@conn, :update, @petition)) %>

<span><%= link "Back", to: Routes.petition_path(@conn, :index) %></span>
