<h1>View Announcement</h1>
<%= link "Back", to: Routes.announcement_path(@conn, :index) %>

<h1><%= @announcement.announcement_name %></h1>
<h3>Publish on: <%= @announcement.publish_date |> NaiveDateTime.to_string() %></h3>
<p>Description</p>
<hr>
<p style="white-space:pre-wrap;"><%= @announcement.description %></p>
