<h1> Admin Portal</h1>

<h2>Livestreams</h2>
<%= link "Create", to: Routes.livestream_path(@conn, :create),  method: :post %>

<h2>Announcements</h2>
<%= link "List", to: Routes.announcement_path(@conn, :index) %>
<%= link "Create", to: Routes.announcement_path(@conn, :new) %>

<h2>User Pages</h2>
<%= link "Create Token", to: Routes.user_page_path(@conn, :create_user_token) %>
<%= link "Validate Token", to: Routes.user_page_path(@conn, :validate_user_page_form) %>

