.dropdown {
  position: relative;
  display: inline-block;
}

.chat-entry {
  line-height: 1.2;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  border: 2px solid $purpleish;
  background-color: $background;
}

.dropdown-content a {
  padding: 12px 16px;
  border-radius: 5px;
  display: block;
}

.dropdown-content a:hover {
  background-color: lighten($background, 10%);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}