<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FSLC @ USU</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel = "icon" href="<%= Routes.static_path(@conn, "/images/favicon.ico")%>" type = "image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script
			  src="https://code.jquery.com/jquery-3.6.0.js"
			  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			  crossorigin="anonymous"></script>
    <script>
      window.userToken = "<%= assigns[:user_token] %>";
      <%= if @current_user do %>
        window.userName = "<%= @current_user.username %>";
      <% end %>
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="top-content">
      <header>
        <div class="header-left">
          <a style="text-decoration: none" href="<%= Routes.page_path(@conn, :index) %>"><h1 class="title">USU Free Software and Linux Club</h1></a>
        </div>
        <div class="header-right">
          <%= link "Home", to: Routes.page_path(@conn, :index) %>
          <div class="dropdown">
            <a href="javascript:void(0)">More</a>
            <div class="dropdown-content">
              <%= link "Rices", to: Routes.rice_path(@conn, :index) %>
              <%= link "User Pages", to: Routes.user_page_path(@conn, :index) %>
              <%= link "Stream", to: Routes.livestream_path(@conn, :index) %>
              <%= link "Tilde", to: "http://fslc.club" %>
            </div>
          </div> 
          <%= if @current_user do %>
            <div class="dropdown">
              <a href="javascript:void(0)">User</a>
              <div class="dropdown-content">
                <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %>
                <%= link "Uploads", to: Routes.upload_path(@conn, :index) %>
                <%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %>
              </div>
            </div> 
            <%= if is_admin?(@current_user) do %>
              <%= link "Admin", to: Routes.admin_path(@conn, :index) %>
            <% end %>
          <% else %>
            <%= link "Register", to: Routes.user_registration_path(@conn, :new) %>
            <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
          <% end %>
        </div>
      </header>
      <main role="main">
        <div class="content-container">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert">
              <%= get_flash(@conn, :info) %>
              <a href="javascript:void(0)" onclick="this.parentElement.style.display='none'">Close</a>
            </p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert">
              <%= get_flash(@conn, :error) %>
              <a href="javascript:void(0)" onclick="this.parentElement.style.display='none'">Close</a>
            </p>
          <% end %>
          <%= @inner_content %>
        </div>
      </main>
      <div class="push"></div>
    </div>
    <footer>
      <a href="<%= Routes.page_path(@conn, :guidelines) %>">Guidelines</a>
      <a href="<%= Routes.page_path(@conn, :credits) %>">Credits</a>
      <a href="<%= Routes.page_path(@conn, :license) %>">License</a>
      <a href="<%= Routes.page_path(@conn, :disclaimer) %>">Disclaimer</a>
    </footer>
  </body>
  <script>
    $(".prompt").html("<%= if @current_user do @current_user.username else 'guest' end %>@usufslc ~ $ ");
  </script>
</html>
